doctype html
html
    head
        meta(charset="utf-8")
        meta(name="viewport" content="initial-scale=1.0")
        title Rorschach
        link(href="/css/bootstrap.min.css" rel="stylesheet" media="all")
        link(href="/font-awesome/css/font-awesome.css" rel="stylesheet" media="all")
        link(href="/css/animate.css" rel="stylesheet" media="all")
        link(href="/css/style.css" rel="stylesheet" media="all")
        link(href="/css/plugins/jasny/jasny-bootstrap.min.css" rel="stylesheet" media="all")
        link(href="/css/plugins/datapicker/datepicker3.css" rel="stylesheet" media="all")
        link(href="/css/plugins/daterangepicker/daterangepicker-bs3.css" rel="stylesheet" media="all")
        link(href='/css/table-hover-cells.css', rel='stylesheet' media="all")
        style.
            body {
                width: 100%;
                height: 100%;
                margin: 0;
                padding: 0;
                background-color: #FAFAFA;
                font: 12pt "Tahoma";
            }
            * {
                box-sizing: border-box;
                -moz-box-sizing: border-box;
            }
            .page {
                width: 210mm;
                min-height: 297mm;
                padding: 20mm;
                margin: 10mm auto;
                border: 1px #D3D3D3 solid;
                border-radius: 5px;
                background: white;
                box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
            }
            .subpage {
                padding: 0.2cm;
                border: 1px #FFFFFF solid;
                height: 257mm;
                outline: 2cm #FFFFFF solid;
            }

            .col-6-print{
                flex:0 0 50% !important;
            }

            .col-3-print{
                flex:0 0 25% !important;
            }

            
            @page {
                size: A4;
                margin: 0;
            }

            @media print {
                html, body {
                    width: 210mm;
                    height: 297mm;        
                }
                .page {
                    margin: 0;
                    border: initial;
                    border-radius: initial;
                    width: initial;
                    min-height: initial;
                    box-shadow: initial;
                    background: initial;
                    page-break-after: always;
                }
            }
            
    body.gray-bg
        .book
            .page
                .subpage#page1
                    .row
                        .col-md-12.text-center
                            h3(style="font-size: 16pt;") 로르샤하 검사 해석 보고서
                            h3 The Rorschach Test Interpretation Report
                    .row
                        .col-md-12
                            table.table.table-bordered(style="font-size: 10pt;")
                                thead
                                    tr
                                        th.text-center(colspan="24") RIAS Ⅱ 자동해석 보고서
                                tbody
                                    tr
                                        td.text-center 이 름
                                        td.text-center #{testconfig.name}
                                        td.text-center 성 별
                                        td.text-center #{testconfig.sex}
                                        td.text-center 검사일자
                                        td.text-center #{moment(testconfig.testdate).format('YYYY년 MM월 DD일')}
                                    tr
                                        td.text-center 생년월일
                                        td.text-center #{moment(testconfig.birthday).format('YYYY년 MM월 DD일')}
                                        td.text-center 나 이
                                        td.text-center 만 #{moment().diff(testconfig.birthday, 'years')}세
                                        td.text-center 진 단
                                        td.text-center #{testconfig.diagnosis}
                                    tr
                                        td.text-center 직 업
                                        td.text-center #{testconfig.job}
                                        td.text-center 학 력
                                        td.text-center #{testconfig.graduate}
                                        td.text-center 검사기관
                                        td.text-center #{testconfig.comName_input}


                    
                    
                    
        script(src="/js/jquery-2.1.1.js")
        script(src="/js/bootstrap.min.js")
        script(src="/js/plugins/metisMenu/jquery.metisMenu.js")
        script(src="/js/plugins/slimscroll/jquery.slimscroll.min.js")
        script(src="/js/inspinia.js")
        script(src="/js/plugins/pace/pace.min.js")
        script(src="/js/plugins/flot/jquery.flot.js")
        script(src="/js/plugins/flot/jquery.flot.tooltip.min.js")
        script(src="/js/plugins/flot/jquery.flot.resize.js")
        script(src="/js/plugins/chartJs/Chart.min.js")
        script(src="/js/plugins/peity/jquery.peity.min.js")
        script(src="/js/demo/peity-demo.js")
        script(src="/js/plugins/fullcalendar/moment.min.js")
        script(src="/js/plugins/datapicker/bootstrap-datepicker.js")
        script(src="/js/plugins/daterangepicker/daterangepicker.js")
        script(src="/js/plugins/clockpicker/clockpicker.js")
        script(src="http://html2canvas.hertzen.com/dist/html2canvas.min.js")
        script.
            $(document).ready(function(){
                window.print();
            })