doctype html
html
    head
        meta(charset="utf-8")
        meta(name="viewport" content="initial-scale=1.0")
        title Rorschach
        link(href="/css/bootstrap.min.css" rel="stylesheet" media="all")
        link(href="/font-awesome/css/font-awesome.css" rel="stylesheet" media="all")
        link(href="/css/animate.css" rel="stylesheet" media="all")
        link(href="/css/style.css" rel="stylesheet" media="all")
        link(href="/css/plugins/jasny/jasny-bootstrap.min.css" rel="stylesheet" media="all")
        link(href="/css/plugins/datapicker/datepicker3.css" rel="stylesheet" media="all")
        link(href="/css/plugins/daterangepicker/daterangepicker-bs3.css" rel="stylesheet" media="all")
        link(href='/css/table-hover-cells.css', rel='stylesheet' media="all")
        style.
            body {
                width: 100%;
                height: 100%;
                margin: 0;
                padding: 0;
                background-color: #FAFAFA;
                font: 12pt "Tahoma";
            }
            * {
                box-sizing: border-box;
                -moz-box-sizing: border-box;
            }
            .page {
                width: 210mm;
                min-height: 297mm;
                padding: 20mm;
                margin: 10mm auto;
                border: 1px #D3D3D3 solid;
                border-radius: 5px;
                background: white;
                box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
            }
            .subpage {
                padding: 0.2cm;
                border: 1px #FFFFFF solid;
                height: 257mm;
                outline: 2cm #FFFFFF solid;
            }

            .col-6-print{
                flex:0 0 50% !important;
            }

            .col-3-print{
                flex:0 0 25% !important;
            }

            
            @page {
                size: A4;
                margin: 0;
            }

            @media print {
                html, body {
                    width: 210mm;
                    height: 297mm;        
                }
                .page {
                    margin: 0;
                    border: initial;
                    border-radius: initial;
                    width: initial;
                    min-height: initial;
                    box-shadow: initial;
                    background: initial;
                    page-break-after: always;
                }
            }
            .a {
                text-indent: 2em;
            }
            
    body.gray-bg
        .book
            .page
                .subpage
                    .row
                        .col-md-12.text-center
                            h3(style="font-size: 16pt;") 로르샤하 검사 해석 보고서
                            h3 The Rorschach Test Interpretation Report
                    .row
                        .col-md-12
                            table.table.table-bordered(style="font-size: 10pt;")
                                thead
                                    tr
                                        th.text-center(colspan="24") RIAS Ⅱ 자동해석 보고서
                                tbody
                                    tr
                                        td.text-center 이 름
                                        td.text-center #{testconfig.name}
                                        td.text-center 성 별
                                        td.text-center #{testconfig.sex}
                                        td.text-center 검사일자
                                        td.text-center #{moment(testconfig.testdate).format('YYYY년 MM월 DD일')}
                                    tr
                                        td.text-center 생년월일
                                        td.text-center #{moment(testconfig.birthday).format('YYYY년 MM월 DD일')}
                                        td.text-center 나 이
                                        td.text-center 만 #{moment().diff(testconfig.birthday, 'years')}세
                                        td.text-center 진 단
                                        td.text-center #{testconfig.diagnosis}
                                    tr
                                        td.text-center 직 업
                                        td.text-center #{testconfig.job}
                                        td.text-center 학 력
                                        td.text-center #{testconfig.graduate}
                                        td.text-center 검사기관
                                        td.text-center #{testconfig.comName_input}

                    .row
                        .col-md-12.text-center
                            h3.text-danger 주 의 사 항
                            br

                    .row
                        .col-md-12(style="font-size: 10pt;")
                            p.a The Rorschach Interpretation Assistance System version 1 (RIAS™)은 ‘The Rorschach Test: A Comprehensive System Volume 1: Basic Foundations and Principes of Interpretation 4th edition (Exner, 2003)과 A Rorschach Workbook for the Comprehensive System, 5th edition (Exner, 2001)’의 채점기준(scoring guidelines)과 해석전략(interpretive strategies)을 참고하여 개발되었습니다. 이 프로그램에서는 Beck (1937), Hertz (1942), Klopfer (1942), Piotrowski (1957), Rapaport, Gill, Schafer (1946) 등에 의해 성립된 접근 방식(실시, 기호화, 채점, 지표, 해석)은 제공하지 않습니다.
                            br
                            p.a ‘로르샤하 종합체계 1권 4판과 로르샤하 종합체계 워크북 5판’은 만 5세에서 만 70세까지의 연령집단을 대상으로 기술 통계 자료를 수집하였으며, 규준 집단(n=600)의 인종 구성은 백인(82%), 흑인(10%), 라틴아메리카인(6%), 아시아인(2%)순으로 구성되어 있습니다.
                            br
                            p.a 한국인을 대상으로 한 표준화 연구가 부족하기 때문에 수검자의 반응을 기호화하고 산출된 지표를 해석하는 과정에서 문화적 차이가 나타나므로 이 프로그램에서 제공하는 구조적 요약의 지표와 자동해석을 사용할 때는 이러한 점을 고려해야 합니다. 이 프로그램에서 제공하는 정보에 대한 의문이 있을 경우 한국인 수검자를 대상으로 한 The Rorschach Test의 연구 결과를 참고하시기 바랍니다.
                            br
                            p.a The Rorschach Interpretation Assistance System version 1 (RIAS™)에서는 점수계열(Sequence of Scores), 구조요약(Structural Summary), 특수지표(Constellations Table)를 제공하며 이를 바탕으로 요약된 자동 해석을 제공합니다. 자동 해석에서 제공하는 정보는 일반적인 경향성을 반영하므로 수검자 개인의 특성이 여실히 드러나지 않을 수 있습니다. 그러므로 수검자 개인에 초점을 맞춘 종합적인 평가를 위해서는 다른 출처의 정보를 통한 추가적인 분석이 필요합니다.
                            br
                            p.a The Rorschach Interpretation Assistance System version 1 (RIAS™)은 심리평가(Psychological Assessment)와 로르샤하 검사(The Rorschach Test)에 대한 충분하고 적절한 훈련을 받은 전문가가 사용하도록 개발되었습니다. 그러므로 이 프로그램을 사용하기 전에 충분한 교육과 훈련을 받을 것을 권장합니다.

                    .row
                        .col-md-12
                            br
                            br
                            h3 로르샤하 검사의 실시와 해석에 활용할 수 있는 참고 문헌
                            p(style="font-size: 7pt;") ① The Rorschach: A Comprehensive System, Volume 1: Basic Foundations and Principes of Interpretation, 4th edition(Exner, 2003)
                                br
                                | ② A Rorschach Workbook for the Comprehensive System, 5th edition(Exner, 2001)
                                br
                                | ③ The Rorschach: A Comprehensive System, Volume 3: Assessment of Children and Adolescents, Second edition(Exner & Weiner, 1995)
                                br
                                | ④ A Primer for Rorschach Interpretation(Exner, 2000)
                                br
                                | ⑤ Principles of Rorschach Interpretation Second edition(Weiner, 2003)
                                br
                                | ⑥ Psychoanalytic Perspectives on the Rorschach(Lerner,1998), approach of Rapaport(1946)
                    
            .page
                .subpage
                    .row
                        .col-md-12.text-center
                            h3(style="font-size: 16pt;") 로르샤하 보고서
                            h3 해석의 가설(Interpretive Hypotheses)

                    .row
                        .col-md-12
                            h4.text-danger 타당도 확인 단계
                            p.a(style="font-size: 9pt;") 수검태도에서 각 카드에 대해 ‘아무것도 전혀 볼 수 없다(반응거부)’고 호소하지 않고 각 카드에서 1개 이상의 반응을 모두 보였다면 아래 조건에 따라 타당한 것으로 볼 수 있습니다. 전체 반응수(R)에서 볼 때 <span style="color: #007bff; font-weight: bold;">(#{step0.R.validate})</span>에 해당하고 있으며, 형태질에서 순수형태의 반응비율(Lambda(L))에서 볼 때 <span style="color: #007bff; font-weight: bold;">(#{step0.L.validate})</span>에 해당하는 수준의 수행을 보이고 있다. 타당하지 않는 것으로 나타날 경우에는 극단 값에 해당하는 지표를 기준으로 해석해야 하고 타당하지 않은 이유에 대해 질적 분석을 해야 하며 해석의 타당성은 제한적입니다.
                    .row
                        .col-md-12
                            table.table.table-bordered(style="font-size: 8pt;")
                                thead
                                    tr
                                        th.text-center(colspan="1") 전체 반응 수 (R = <span style="color: red;">#{step0.R.R}</span>)
                                        th.text-center(colspan="1") Lambda (L = <span style="color: red;">#{step0.L.L}</span>)
                                tbody
                                    tr
                                        td(colspan="1")
                                            p(style="font-weight: bold;")
                                                if step0.R.validate=='타당함'
                                                    i.fa.fa-check-square-o
                                                else
                                                    i.fa.fa-square-o
                                                | &nbsp;타당함: 조건 (1) 또는 (2)에 해당할 경우
                                            p(style="font-weight: bold;")
                                                if step0.R.validate=='타당도 낮음'
                                                    i.fa.fa-check-square-o
                                                else
                                                    i.fa.fa-square-o
                                                | &nbsp;타당함 낮음: 조건 (3)에 해당할 경우
                                            p(style="font-weight: bold;")
                                                if step0.R.validate=='타당도 없음'
                                                    i.fa.fa-check-square-o
                                                else
                                                    i.fa.fa-square-o
                                                | &nbsp;타당함 없음: 조건 (4)에 해당할 경우
                                            p
                                                if step0.R.check1
                                                    i.fa.fa-check-square-o
                                                else
                                                    i.fa.fa-square-o
                                                | &nbsp; (1) 16 < R < 28
                                                br
                                                if step0.R.check2
                                                    i.fa.fa-check-square-o
                                                else
                                                    i.fa.fa-square-o
                                                | &nbsp; (2) 27 < R
                                                br
                                                if step0.R.check3
                                                    i.fa.fa-check-square-o
                                                else
                                                    i.fa.fa-square-o
                                                | &nbsp; (3) Short R : 13 < R < 17
                                                br
                                                if step0.R.check4
                                                    i.fa.fa-check-square-o
                                                else
                                                    i.fa.fa-square-o
                                                | &nbsp; (4) Brief R : 14 > R
                                        td(colspan="1")
                                            p(style="font-weight: bold;")
                                                if step0.L.validate=='타당함'
                                                    i.fa.fa-check-square-o
                                                else
                                                    i.fa.fa-square-o
                                                | &nbsp;타당함: 조건 (1)에 해당할 경우
                                            p(style="font-weight: bold;")
                                                if step0.L.validate=='타당하지 않음'
                                                    i.fa.fa-check-square-o
                                                else
                                                    i.fa.fa-square-o
                                                | &nbsp;타당하지 않음: 조건 (2)또는 (3)에 해당할 경우
                                            p
                                                if step0.L.check1
                                                    i.fa.fa-check-square-o
                                                else
                                                    i.fa.fa-square-o
                                                | &nbsp; (1) 0.30 ≤ Lambda(L) ≤ 0.99
                                                br
                                                if step0.L.check2
                                                    i.fa.fa-check-square-o
                                                else
                                                    i.fa.fa-square-o
                                                | &nbsp; (2) High Lambda (L): 0.99 < Lambda (L)
                                                br
                                                if step0.L.check3
                                                    i.fa.fa-check-square-o
                                                else
                                                    i.fa.fa-square-o
                                                | &nbsp; (3) Low Lambda (L): 0.30 > Lambda (L)

                    .row
                        .col-md-12
                            table.table.table-bordered(style="font-size: 7pt;")
                                tbody
                                    tr
                                        td
                                            h5 아래 조건에 해당하는 것으로 의심될 경우 다른 정보를 통해 타당성을 다시 평가하시기 바랍니다.
                                            p 1. 방어적인 수검자
                                                br
                                                | 2. 회피 유형의 수검자
                                                br
                                                | 3. 반응을 왜곡하려는 수검자
                                                br
                                                | 4. 신경학적 기능 이상이 있는 수검자


                    .row
                        .col-md-12
                            h4.text-danger 로르샤하 검사 결과의 군집별 해석 전략의 선택
                            p(style="font-size: 9pt;") 1) 대처 방식에 따른 경험 유형 분류 (문제해결 또는 의사결정)

                    .row
                        .col-md-12
                            table.table.table-bordered(style="font-size: 7pt;")
                                thead
                                    tr
                                        th.text-center(colspan="6") 대처 방식 유형
                                        th.text-center(colspan="6") 내향형 (Introversive)
                                        th.text-center(colspan="6") 외향형 (Extratensive)
                                        th.text-center(colspan="6") 양향형 (Ambitent)
                                tbody
                                    tr
                                        td.text-center(colspan="6") Average Lambda(L)
                                        if experienceClassification.copyingStyle=="Introversive" && experienceClassification.approachStyle=="True"
                                            td.text-center.bg-warning(colspan="6") True Introversive
                                        else
                                            td.text-center(colspan="6") True Introversive
                                        if experienceClassification.copyingStyle=="Extratensive" && experienceClassification.approachStyle=="True"
                                            td.text-center.bg-warning(colspan="6") True Extratensive
                                        else
                                            td.text-center(colspan="6") True Extratensive
                                        if experienceClassification.copyingStyle=="Ambitent" && experienceClassification.approachStyle=="True"
                                            td.text-center.bg-warning(colspan="6") True Ambitent
                                        else
                                            td.text-center(colspan="6") True Ambitent
                                    tr
                                        td.text-center(colspan="6") 지배적 대처 방식
                                        if experienceClassification.copyingStyle=="Introversive" && experienceClassification.dominantStyle=="Flexible"
                                            td.text-center.bg-warning(colspan="3") Flexible Introversive
                                        else
                                            td.text-center(colspan="3") Flexible Introversive
                                        if experienceClassification.copyingStyle=="Introversive" && experienceClassification.dominantStyle=="Pervasive"
                                            td.text-center.bg-warning(colspan="3") Pervasive Introversive
                                        else
                                            td.text-center(colspan="3") Pervasive Introversive
                                        if experienceClassification.copyingStyle=="Extratensive" && experienceClassification.dominantStyle=="Flexible"
                                            td.text-center.bg-warning(colspan="3") Flexible Extratensive
                                        else
                                            td.text-center(colspan="3") Flexible Introversive
                                        if experienceClassification.copyingStyle=="Extratensive" && experienceClassification.dominantStyle=="Pervasive"
                                            td.text-center.bg-warning(colspan="3") Pervasive Extratensive
                                        else
                                            td.text-center(colspan="3") Pervasive Introversive
                                        td.text-center(colspan="6")
                                    tr
                                        td.text-center(colspan="6") High Lambda(L)
                                        if experienceClassification.approachStyle=="Avoidant" && experienceClassification.copyingStyle=="Introversive"
                                            td.text-center.bg-warning(colspan="6") Avoidant Introversive
                                        else
                                            td.text-center(colspan="6") Avoidant Introversive
                                        if experienceClassification.approachStyle=="Avoidant" && experienceClassification.copyingStyle=="Extratensive"
                                            td.text-center.bg-warning(colspan="6") Avoidant Extratensive
                                        else
                                            td.text-center(colspan="6") Avoidant Extratensive
                                        if experienceClassification.approachStyle=="Avoidant" && experienceClassification.copyingStyle=="Ambitent"
                                            td.text-center.bg-warning(colspan="6") Avoidant Ambitent
                                        else
                                            td.text-center(colspan="6") Avoidant Ambitent

                    if experienceClassification.approachStyle == "" && experienceClassification.copyingStyle == "" && experienceClassification.dominantStyle == ""
                        .row
                            .col-md-12.text-center
                                h5.text-warning 이 수검자는 대처 방식 유형(EB Style)을 계산할 수 없습니다.
                    .row
                        .col-md-12
                            p(style="font-size: 9pt;") 2) 임상 증후군을 반영하는 특수지표
                                                
                    
                    
                    .row
                        .col-md-12
                            table.table.table-bordered(style="font-size: 7pt;")
                                thead
                                    tr
                                        th.text-center(colspan="4")
                                            if lower.special_indices.SCONPositive == true
                                                i.fa.fa-check-square(style="margin-right: 6px; font-size: 11pt;")
                                            else
                                                i.fa.fa-square(style="margin-right: 6px; font-size: 11pt;")
                                            | S-CON = #{lower.special_indices.SCON}
                                        th.text-center(colspan="4")
                                            if lower.special_indices.PTI>=4
                                                i.fa.fa-check-square(style="margin-right: 6px; font-size: 11pt;")
                                            else
                                                i.fa.fa-square(style="margin-right: 6px; font-size: 11pt;")
                                            | PTI = #{lower.special_indices.PTI}
                                        th.text-center(colspan="4")
                                            if lower.special_indices.DEPIPositive == true
                                                i.fa.fa-check-square(style="margin-right: 6px; font-size: 11pt;")
                                            else
                                                i.fa.fa-square(style="margin-right: 6px; font-size: 11pt;")
                                            | DEPI = #{lower.special_indices.DEPI}
                                        th.text-center(colspan="4")
                                            if lower.special_indices.CDIPositive == true
                                                i.fa.fa-check-square(style="margin-right: 6px; font-size: 11pt;")
                                            else
                                                i.fa.fa-square(style="margin-right: 6px; font-size: 11pt;")
                                            | CDI = #{lower.special_indices.CDI}
                                        th.text-center(colspan="4")
                                            if lower.special_indices.HVIPositive == true
                                                i.fa.fa-check-square(style="margin-right: 6px; font-size: 11pt;")
                                            else
                                                i.fa.fa-square(style="margin-right: 6px; font-size: 11pt;")
                                            | HVI = #{lower.special_indices.HVI}
                                        th.text-center(colspan="4")
                                            if lower.special_indices.OBSPositive == true
                                                i.fa.fa-check-square(style="margin-right: 6px; font-size: 11pt;")
                                            else
                                                i.fa.fa-square(style="margin-right: 6px; font-size: 11pt;")
                                            | OBS = #{lower.special_indices.OBS}
            
            
            .page
                .subpage
                    .row
                        .col-md-12
                            p(style="font-size: 9pt;") 3) 군집별 해석 순서의 선택 방법
                    .row
                        .col-md-12
                            table.table.table-bordered.table-striped(style="font-size: 8pt;")
                                tbody
                                    tr
                                        td 핵심변인 : #{Order.main.join(', ')}
                                    tr
                                        td 제 3변인 : #{Order.thirdParty.join(', ')}
                                    tr
                                        td(style="font-weight: bold;") 군집별 해석 순서 : #{Order.order.join(' > ')}


            each T in TESTRESULT
                if T.resultName == "Affect 정서 자원이 사용되는 방식, 정서 상태, 정서의 역기능 평가"
                    - var steps = T.steps;
                    - var stepLeft = steps.splice(0, 9);
                    .page
                        .subpage
                            .row
                                .col-md-12.text-center
                                    h3=T.resultName
                            .row
                                .col-md-12
                                    each step in stepLeft
                                        if step.textData.length != 0
                                            span(style="color: blue; font-size: 8pt;") [Step #{step.curStep}]
                                        p(style="font-size: 8pt;")
                                            if step.textData.length == 0
                                            else
                                                each text in step.textData
                                                    !=text
                    .page
                        .subpage
                            .row
                                .col-md-12
                                    each step in steps
                                        if step.textData.length != 0
                                            span(style="color: blue; font-size: 8pt;") [Step #{step.curStep}]
                                        p(style="font-size: 8pt;")
                                            if step.textData.length == 0
                                            else
                                                each text in step.textData
                                                    !=text

                else
                    .page
                        .subpage
                            .row
                                .col-md-12.text-center
                                    h3=T.resultName
                            .row
                                .col-md-12
                                    each step in T.steps
                                        if step.textData.length != 0
                                            span(style="color: blue; font-size: 8pt;") [Step #{step.curStep}]
                                        p(style="font-size: 8pt;")
                                            if step.textData.length == 0
                                            else
                                                each text in step.textData
                                                    !=text
                                
                            
                    

                    
        script(src="/js/jquery-2.1.1.js")
        script(src="/js/bootstrap.min.js")
        script(src="/js/plugins/metisMenu/jquery.metisMenu.js")
        script(src="/js/plugins/slimscroll/jquery.slimscroll.min.js")
        script(src="/js/inspinia.js")
        script(src="/js/plugins/pace/pace.min.js")
        script(src="/js/plugins/flot/jquery.flot.js")
        script(src="/js/plugins/flot/jquery.flot.tooltip.min.js")
        script(src="/js/plugins/flot/jquery.flot.resize.js")
        script(src="/js/plugins/chartJs/Chart.min.js")
        script(src="/js/plugins/peity/jquery.peity.min.js")
        script(src="/js/demo/peity-demo.js")
        script(src="/js/plugins/fullcalendar/moment.min.js")
        script(src="/js/plugins/datapicker/bootstrap-datepicker.js")
        script(src="/js/plugins/daterangepicker/daterangepicker.js")
        script(src="/js/plugins/clockpicker/clockpicker.js")
        script(src="http://html2canvas.hertzen.com/dist/html2canvas.min.js")
        script.
            $(document).ready(function(){
                //- window.print();
            })
