doctype html
html
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Rorschach
        link(href="/css/bootstrap.min.css" rel="stylesheet" media="all")
        link(href="/font-awesome/css/font-awesome.css" rel="stylesheet" media="all")
        link(href="/css/animate.css" rel="stylesheet" media="all")
        link(href="/css/style.css" rel="stylesheet" media="all")
        link(href="/css/plugins/jasny/jasny-bootstrap.min.css" rel="stylesheet" media="all")
        link(href="/css/plugins/datapicker/datepicker3.css" rel="stylesheet" media="all")
        link(href="/css/plugins/daterangepicker/daterangepicker-bs3.css" rel="stylesheet" media="all")
        link(href='/css/table-hover-cells.css', rel='stylesheet')
        style.
            body {
                width: 100%;
                height: 100%;
                margin: 0;
                padding: 0;
                background-color: #FAFAFA;
                font: 12pt "Tahoma";
            }
            * {
                box-sizing: border-box;
                -moz-box-sizing: border-box;
            }
            .page {
                width: 210mm;
                min-height: 297mm;
                padding: 20mm;
                margin: 10mm auto;
                border: 1px #D3D3D3 solid;
                border-radius: 5px;
                background: white;
                box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
            }
            .subpage {
                padding: 0.2cm;
                border: 1px #FFFFFF solid;
                height: 257mm;
                outline: 2cm #FFFFFF solid;
            }

            .col-6-print{
                flex:0 0 50% !important;
            }

            .col-3-print{
                flex:0 0 25% !important;
            }

            
            @page {
                size: A4;
                margin: 0;
            }

            @media print {
                html, body {
                    width: 210mm;
                    height: 297mm;        
                }
                .page {
                    margin: 0;
                    border: initial;
                    border-radius: initial;
                    width: initial;
                    min-height: initial;
                    box-shadow: initial;
                    background: initial;
                    page-break-after: always;
                }
            }
            
    body.gray-bg
        .book
            .page
                .subpage
                    .row
                        .col-md-12.text-center
                            h3 Rorschach Test Structural Summary
                    .container-fluid
                        .row
                            .col-md-12.text-center
                                h6 NO : #{testconfig.id} &nbsp&nbsp&nbsp&nbsp 이름 : #{testconfig.name} &nbsp&nbsp&nbsp&nbsp 생년월일 : #{moment(testconfig.birthday).format('YY년 MM월 DD일')} &nbsp&nbsp&nbsp&nbsp 성별 : #{testconfig.sex} &nbsp&nbsp&nbsp&nbsp 검사일 : #{moment(testconfig.testdate).format('YY년 MM월 DD일')}
                    .row
                        .col-md-3.col-3-print(style="padding-right: 2px; padding-left: 2px;")
                            table.table.table-bordered
                                thead
                                    tr
                                        th.text-center(style="font-size: 7pt" colspan="3") 반응위치 특징
                                            br
                                            | (Location Features)
                                tbody
                                    tr
                                        td(style="font-size: 7pt;")
                                            .text-center 조직화 활동
                                            div(style="margin-left: 10px;")
                                                | Zf = #{upper.location_features.Zf}
                                                br
                                                | ZSum = #{upper.location_features.ZSum}
                                                br
                                                | ZEst = #{upper.location_features.ZEst}
                                    tr
                                        td(style="font-size: 7pt;")
                                            .text-center 반응 위치
                                            div(style="margin-left: 10px;")
                                                | W = #{upper.location_features.W}
                                                span.pull-right ( Wv=#{upper.location_features.Wv} )
                                                br
                                                | D = #{upper.location_features.D}
                                                span.pull-right ( W+D=#{upper.location_features.WPlusD} )
                                                br
                                                | Dd = #{upper.location_features.Dd}
                                                br
                                                | S = #{upper.location_features.S}
                            
                            table.table.table-bordered
                                thead
                                    tr
                                        th.text-center(style="font-size: 7pt" colspan="3") 발달질
                                            br
                                            | (Developmental Quality)
                                tbody
                                    tr
                                        td(style="font-size: 7pt;")
                                            div(style="margin-left: 10px;")
                                                | + = #{upper.dq.plus}
                                                br
                                                | o = #{upper.dq.o}
                                                br
                                                | v/o = #{upper.dq.VSlashPlus}
                                                br
                                                | v = #{upper.dq.v}



                        .col-md-3.col-3-print(style="padding-right: 2px; padding-left: 2px;")
                            table.table.table-bordered
                                thead
                                    tr
                                        th.text-center(style="font-size: 7pt" colspan="3") 결정인
                                            br
                                            | (Determinants)
                                tbody
                                    tr
                                        td(style="font-size: 7pt;" colspan="1.5")
                                            .text-center 복합
                                        td(style="font-size: 7pt;" colspan="1.5")
                                            .text-center 전체
                                            div
                                                | F = #{upper.determinants.F}
                                                br
                                                | M = #{upper.determinants.M}
                                                br
                                                | FM = #{upper.determinants.FM}
                                                br
                                                | m = #{upper.determinants.m}
                                                br
                                                | FC = #{upper.determinants.FC}
                                                br
                                                | CF = #{upper.determinants.CF}
                                                br
                                                | C = #{upper.determinants.C}
                                                br
                                                | Cn = #{upper.determinants.Cn}
                                                br
                                                | FC' = #{upper.determinants.FCprime}
                                                br
                                                | C'F = #{upper.determinants.CprimeF}
                                                br
                                                | C' = #{upper.determinants.Cprime}
                                                br
                                                | FY = #{upper.determinants.FY}
                                                br
                                                | YF = #{upper.determinants.YF}
                                                br
                                                | Y = #{upper.determinants.Y}
                                                br
                                                | FT = #{upper.determinants.FT}
                                                br
                                                | TF = #{upper.determinants.TF}
                                                br
                                                | T = #{upper.determinants.T}
                                                br
                                                | FV = #{upper.determinants.FV}
                                                br
                                                | VF = #{upper.determinants.VF}
                                                br
                                                | V = #{upper.determinants.V}
                                                br
                                                | FD = #{upper.determinants.FD}
                                                br
                                                | Fr = #{upper.determinants.Fr}
                                                br
                                                | rF = #{upper.determinants.rF}
                                                br
                                                | (2) = #{upper.determinants.two}
                        .col-md-2.col-2-print(style="padding-right: 2px; padding-left: 2px;")
                            table.table.table-bordered
                                thead
                                    tr
                                        th.text-center(style="font-size: 7pt" colspan="3") 반응내용
                                            br
                                            | (Contents)
                                tbody
                                    tr
                                        td(style="font-size: 7pt;" colspan="3")
                                            div(style="margin-left: 10px;")
                                                - for(var key in upper.contents){
                                                    | &nbsp #{key} = #{upper.contents[key]}
                                                    br
                                                -}
                        .col-md-4.col-3-print(style="padding-right: 2px; padding-left: 2px;")
                            table.table.table-bordered
                                thead
                                    tr
                                        th.text-center(style="font-size: 7pt" colspan="3") 접근방식
                                            br
                                            | (Summary of Approach)
                                tbody
                                    tr
                                        td.text-center(style="font-size: 7pt; padding: 2px;" colspan="1") 카드
                                        td.text-center(style="font-size: 7pt; padding: 2px;" colspan="3") 위치 & 발달질(DQ)
                                    tr
                                        td.text-center(style="font-size: 7pt; padding: 2px;" colspan="1") Ⅰ
                                        td.text-center(style="font-size: 7pt; padding: 2px;" colspan="3")
                                            each elem in upper.approach[1]
                                                = elem + ", "
                                    tr
                                        td.text-center(style="font-size: 7pt; padding: 2px;" colspan="1") Ⅱ
                                        td.text-center(style="font-size: 7pt; padding: 2px;" colspan="3")
                                            each elem in upper.approach[2]
                                                = elem + ", "
                                    tr
                                        td.text-center(style="font-size: 7pt; padding: 2px;" colspan="1") Ⅲ
                                        td.text-center(style="font-size: 7pt; padding: 2px;" colspan="3")
                                            each elem in upper.approach[3]
                                                = elem + ", "
                                    tr
                                        td.text-center(style="font-size: 7pt; padding: 2px;" colspan="1") Ⅳ
                                        td.text-center(style="font-size: 7pt; padding: 2px;" colspan="3")
                                            each elem in upper.approach[4]
                                                = elem + ", "
                                    tr
                                        td.text-center(style="font-size: 7pt; padding: 2px;" colspan="1") Ⅴ
                                        td.text-center(style="font-size: 7pt; padding: 2px;" colspan="3")
                                            each elem in upper.approach[5]
                                                = elem + ", "
                                    tr
                                        td.text-center(style="font-size: 7pt; padding: 2px;" colspan="1") Ⅵ
                                        td.text-center(style="font-size: 7pt; padding: 2px;" colspan="3")
                                            each elem in upper.approach[6]
                                                = elem + ", "
                                    tr
                                        td.text-center(style="font-size: 7pt; padding: 2px;" colspan="1") Ⅶ
                                        td.text-center(style="font-size: 7pt; padding: 2px;" colspan="3")
                                            each elem in upper.approach[7]
                                                = elem + ", "
                                    tr
                                        td.text-center(style="font-size: 7pt; padding: 2px;" colspan="1") Ⅷ
                                        td.text-center(style="font-size: 7pt; padding: 2px;" colspan="3")
                                            each elem in upper.approach[8]
                                                = elem + ", "
                                    tr
                                        td.text-center(style="font-size: 7pt; padding: 2px;" colspan="1") Ⅸ
                                        td.text-center(style="font-size: 7pt; padding: 2px;" colspan="3")
                                            each elem in upper.approach[9]
                                                = elem + ", "
                                    tr
                                        td.text-center(style="font-size: 7pt; padding: 2px;" colspan="1") Ⅹ
                                        td.text-center(style="font-size: 7pt; padding: 2px;" colspan="3")
                                            each elem in upper.approach[10]
                                                = elem + ", "
                    .row
                        .col-md-4(style="padding-right: 2px; padding-left: 2px;")
                            table.table.table-bordered
                                thead
                                    tr
                                        th.text-center(style="font-size: 7pt" colspan="4") 형태질
                                            br
                                            | (Form Quality)
                                tbody(style="font-size: 7pt")
                                    tr
                                        td.text-center(style="padding: 2px;")
                                        td.text-center(style="padding: 2px;") FQx
                                        td.text-center(style="padding: 2px;") MQuality
                                        td.text-center(style="padding: 2px;") W+D
                                    tr
                                        td.text-center(style="padding: 2px;") +
                                        td.text-center(style="padding: 2px;") #{upper.form_quality.FQx['+']}
                                        td.text-center(style="padding: 2px;") #{upper.form_quality.MQuality['+']}
                                        td.text-center(style="padding: 2px;") #{upper.form_quality.WPlusD['+']}
                                    tr
                                        td.text-center(style="padding: 2px;") o
                                        td.text-center(style="padding: 2px;") #{upper.form_quality.FQx['o']}
                                        td.text-center(style="padding: 2px;") #{upper.form_quality.MQuality['o']}
                                        td.text-center(style="padding: 2px;") #{upper.form_quality.WPlusD['o']}
                                    tr
                                        td.text-center(style="padding: 2px;") u
                                        td.text-center(style="padding: 2px;") #{upper.form_quality.FQx['u']}
                                        td.text-center(style="padding: 2px;") #{upper.form_quality.MQuality['u']}
                                        td.text-center(style="padding: 2px;") #{upper.form_quality.WPlusD['u']}
                                    tr
                                        td.text-center(style="padding: 2px;") -
                                        td.text-center(style="padding: 2px;") #{upper.form_quality.FQx['-']}
                                        td.text-center(style="padding: 2px;") #{upper.form_quality.MQuality['-']}
                                        td.text-center(style="padding: 2px;") #{upper.form_quality.WPlusD['-']}
                                    tr
                                        td.text-center(style="padding: 2px;") none
                                        td.text-center(style="padding: 2px;") #{upper.form_quality.FQx['none']}
                                        td.text-center(style="padding: 2px;") #{upper.form_quality.MQuality['none']}
                                        td.text-center(style="padding: 2px;") #{upper.form_quality.WPlusD['none']}
                        .col-md-4(style="padding-right: 2px; padding-left: 2px;")
                            table.table.table-bordered
                                thead
                                    tr
                                        th.text-center(style="font-size: 7pt" colspan="24") 특수점수
                                            br
                                            | (Special Scores)
                                tbody(style="font-size: 7pt")
                                    tr
                                        td.text-center(style="padding: 2px;" colspan="6")
                                        td.text-center(style="padding: 2px;" colspan="9") LV1
                                        td.text-center(style="padding: 2px;" colspan="9") LV2
                                    tr
                                        td.text-center(style="padding: 2px;" colspan="6") DV
                                        td.text-center(style="padding: 2px;" colspan="9") #{upper.special_scores.DV1} × 1 (#{upper.special_scores.DV1*1})
                                        td.text-center(style="padding: 2px;" colspan="9") #{upper.special_scores.DV2} × 2 (#{upper.special_scores.DV2*2})
                                    tr
                                        td.text-center(style="padding: 2px;" colspan="6") INCOM
                                        td.text-center(style="padding: 2px;" colspan="9") #{upper.special_scores.INCOM1} × 2 (#{upper.special_scores.INCOM1*2})
                                        td.text-center(style="padding: 2px;" colspan="9") #{upper.special_scores.INCOM2} × 4 (#{upper.special_scores.INCOM2*4})
                                    tr
                                        td.text-center(style="padding: 2px;" colspan="6") DR
                                        td.text-center(style="padding: 2px;" colspan="9") #{upper.special_scores.DR1} × 3 (#{upper.special_scores.DR1*3})
                                        td.text-center(style="padding: 2px;" colspan="9") #{upper.special_scores.DR2} × 6 (#{upper.special_scores.DR2*6})
                                    tr
                                        td.text-center(style="padding: 2px;" colspan="6") FABCOM
                                        td.text-center(style="padding: 2px;" colspan="9") #{upper.special_scores.FABCOM1} × 4 (#{upper.special_scores.FABCOM1*4})
                                        td.text-center(style="padding: 2px;" colspan="9") #{upper.special_scores.FABCOM2} × 7 (#{upper.special_scores.FABCOM2*7})
                                    tr
                                        td.text-center(style="padding: 2px;" colspan="6") ALOG
                                        td.text-center(style="padding: 2px;" colspan="9") #{upper.special_scores.ALOG} × 5 (#{upper.special_scores.ALOG*5})
                                        td.text-center(style="padding: 2px;" colspan="9")
                                    tr
                                        td.text-center(style="padding: 2px;" colspan="6") CONTAM
                                        td.text-center(style="padding: 2px;" colspan="9") #{upper.special_scores.CONTAM} × 7 (#{upper.special_scores.CONTAM*7})
                                        td.text-center(style="padding: 2px;" colspan="9")
                                thead(style="font-size: 7pt")
                                    tr
                                        th.text-center(style="padding: 2px;" colspan="24") Sum6 = #{upper.special_scores.Sum6} &nbsp;&nbsp; WSum6 = #{upper.special_scores.WSum6}
                                tbody(style="font-size: 7pt")
                                    tr
                                        td.text-center(style="padding: 2px;" colspan="4") AG
                                        td.text-center(style="padding: 2px;" colspan="8") #{upper.special_scores.AG}
                                        td.text-center(style="padding: 2px;" colspan="4") AB
                                        td.text-center(style="padding: 2px;" colspan="8") #{upper.special_scores.AB}
                                    tr
                                        td.text-center(style="padding: 2px;" colspan="4") COP
                                        td.text-center(style="padding: 2px;" colspan="8") #{upper.special_scores.COP}
                                        td.text-center(style="padding: 2px;" colspan="4") CP
                                        td.text-center(style="padding: 2px;" colspan="8") #{upper.special_scores.CP}
                                    tr
                                        td.text-center(style="padding: 2px;" colspan="4") GHR
                                        td.text-center(style="padding: 2px;" colspan="8") #{upper.special_scores.GHR}
                                        td.text-center(style="padding: 2px;" colspan="4") MOR
                                        td.text-center(style="padding: 2px;" colspan="8") #{upper.special_scores.MOR}
                                    tr
                                        td.text-center(style="padding: 2px;" colspan="4") PHR
                                        td.text-center(style="padding: 2px;" colspan="8") #{upper.special_scores.PHR}
                                        td.text-center(style="padding: 2px;" colspan="4") PSV
                                        td.text-center(style="padding: 2px;" colspan="8") #{upper.special_scores.PSV}
                                    tr
                                        td.text-center(style="padding: 2px;" colspan="4") PER
                                        td.text-center(style="padding: 2px;" colspan="8") #{upper.special_scores.PER}
                                        td.text-center(style="padding: 2px;" colspan="12") 
                                        



            .page
                .subpage
                    .row
                        .col-md-12(style="padding-right: 2px; padding-left: 2px;")
                            table.table.table-bordered
                                thead
                                    tr
                                        th.text-center 비율(RAIOS), 백분율(PERCENTAGES), 산출한 점수(DERIVATIONS)
                    
                    .row
                        .col-md-4(style="padding-right: 2px; padding-left: 2px;")
                            table.table.table-bordered(style="font-size: 7pt")
                                thead
                                    tr
                                        th.text-center 핵심영역 (CORE)
                                tbody
                                    tr
                                        td R = #{lower.core.R}
                                        td Lambda(L) = #{lower.core.Lambda}
                                        td

                    
                    
        script(src="/js/jquery-2.1.1.js")
        script(src="/js/bootstrap.min.js")
        script(src="/js/plugins/metisMenu/jquery.metisMenu.js")
        script(src="/js/plugins/slimscroll/jquery.slimscroll.min.js")
        script(src="/js/inspinia.js")
        script(src="/js/plugins/pace/pace.min.js")
        script(src="/js/plugins/flot/jquery.flot.js")
        script(src="/js/plugins/flot/jquery.flot.tooltip.min.js")
        script(src="/js/plugins/flot/jquery.flot.resize.js")
        script(src="/js/plugins/chartJs/Chart.min.js")
        script(src="/js/plugins/peity/jquery.peity.min.js")
        script(src="/js/demo/peity-demo.js")
        script(src="/js/plugins/fullcalendar/moment.min.js")
        script(src="/js/plugins/datapicker/bootstrap-datepicker.js")
        script(src="/js/plugins/daterangepicker/daterangepicker.js")
        script(src="/js/plugins/clockpicker/clockpicker.js")
        script.
            $(document).ready(function(){
                //- window.print();
            })