extends ../template/layout

block head
    link(href="/css/plugins/jasny/jasny-bootstrap.min.css" rel="stylesheet")
    link(href="/css/plugins/datapicker/datepicker3.css" rel="stylesheet")
    link(href="/css/plugins/daterangepicker/daterangepicker-bs3.css" rel="stylesheet")

block script
    script(src="/js/plugins/fullcalendar/moment.min.js")
    script(src="/js/plugins/datapicker/bootstrap-datepicker.js")
    script(src="/js/plugins/daterangepicker/daterangepicker.js")
    script(src="/js/plugins/clockpicker/clockpicker.js")
    script.
        $(document).ready(function(){
            $('#daterange .input-daterange').datepicker({
                keyboardNavigation: false,
                forceParse: false,
                autoclose: true
            });
        })
    script.
        $("#rors1button").on('click', function(){
            var user = !{JSON.stringify(session)};
            user = user.user;
            var coin1 = user.coin1;
            var useCount1 = user.useCount1;

            coin1 = Number(coin1);
            useCount1 = Number(useCount1);
            if(useCount1>=coin1){
                return alert('코인1이 부족합니다.');
            } else {
                return location.href = '/test1';
            }
        })
    script.
        $("#rors2button").on('click', function(){
            alert('개발 진행 중');
            //- var user = !{JSON.stringify(session)};
            //- user = user.user;
            //- var coin2 = user.coin2;
            //- var useCount2 = user.useCount2;

            //- coin2 = Number(coin2);
            //- useCount2 = Number(useCount2);

            //- if(useCount2>=coin2){
            //-     return alert('코인2이 부족합니다.');
            //- } else {
            //-     return location.href = '/test2';
            //- }
        })

        

block content
    .row
        .col-lg-3
            .ibox.float-e-margins
                .ibox-title
                    h5=session.user.memberID
                .ibox-content
                    h1.no-margins=session.user.name
        .col-lg-3
            .ibox.float-e-margins
                .ibox-title
                    h5 상호
                .ibox-content
                    h1.no-margins=session.user.comName
        .col-lg-3
            .ibox.float-e-margins
                .ibox-title
                    span.label.label-success.pull-right=session.user.coin1
                    h5 RIAS-I (구조요약)
                .ibox-content
                    h2.no-margins=session.user.useCount1
                    small 사용현황
                    .progress.progress-mini
                        .progress-bar(style='width:'+(Math.ceil(Number(session.user.useCount1)/Number(session.user.coin1))).toString()+"%;")
        .col-lg-3
            .ibox.float-e-margins
                .ibox-title
                    span.label.label-info.pull-right=session.user.coin2
                    h5 RIAS-II (자동해석)
                .ibox-content
                    h2.no-margins=session.user.useCount2
                    small 사용현황
                    .progress.progress-mini
                        .progress-bar(style='width:'+(Math.ceil(Number(session.user.useCount2)/Number(session.user.coin2))).toString()+"%;")

    .row
        .col-lg-12
            .ibox
                .ibox-content.text-center
                    .row
                        .col-lg-6
                            .row
                                .col-md-12
                                    table.table
                                        thead
                                            tr
                                                th.text-center(colspan="2") 검사실시
                                        tbody
                                            tr
                                                td.text-center
                                                    button#rors1button.btn.btn-w-m.btn-primary.btn-block(type="button") 구조요약
                                                td.text-center
                                                    a.btn.btn-w-m.btn-primary.btn-block.btn-outline(href="#") 자동해석
                        .col-lg-6
                            br
                            p(style="font-size: 14px;") RIAS&#8482;은 The Rorschach Test의 구조요약과 자동해석을 제공합니다. 구조요약은 자료의 정리만 제공하며, 자동해석은 구조요약을 기본으로 제공하고 가설적 해석을 함께 제공합니다.

    .row
        .col-lg-12
            .ibox.float-e-margins
                .ibox-title
                    h5 검사
                .ibox-content
                    .row.form-group
                        .col-lg-3.col-lg-offset-3.form-group#daterange
                            .input-daterange.input-group#datepicker
                                input.input-sm.form-control(type="text" name="start" value="05/14/2014")
                                span.input-group-addon ~
                                input.input-sm.form-control(type="text" name="end" value="05/20/2014")
                        .col-lg-2
                            select.form-control(name="searchfor")
                                option 수검자
                                option 검사기관
                        .col-lg-3
                            input.form-control(name="searchtext" type="text" placeholder="검색")
                        .col-lg-1
                            button.btn.btn-primary.btn-block 검색

                    .row
                        table.table.table-striped.table-sm
                            thead
                                tr
                                    th.text-center(scope="col") 번호
                                    th.text-center(scope="col") 수검자
                                    th.text-center(scope="col") 검사일
                                    th.text-center(scope="col")="구조요약 & 해석보고서"
                                    th.text-center(scope="col") 검사기관
                                    th.text-center(scope="col") 해석
                                    th.text-center(scope="col") 삭제
                            tbody
