extends ../template/layout

block head
    link(href="/css/plugins/jasny/jasny-bootstrap.min.css" rel="stylesheet")
    //- link(href="/css/plugins/datapicker/datepicker3.css" rel="stylesheet")
    //- link(href="/css/plugins/daterangepicker/daterangepicker-bs3.css" rel="stylesheet")
    link(rel="stylesheet" href="http://code.jquery.com/ui/1.8.18/themes/base/jquery-ui.css" type="text/css")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css")
    style.
        .col-form-label {
            padding-top: calc(.375rem + 1px);
            padding-bottom: calc(.375rem + 1px);
            margin-bottom: 0;
            font-size: inherit;
            line-height: 1.5;
        }

block script
    script(src="/js/plugins/fullcalendar/moment.min.js")
    //- script(src="/js/plugins/datapicker/bootstrap-datepicker.js")
    //- script(src="/js/plugins/daterangepicker/daterangepicker.js")
    //- script(src="/js/plugins/clockpicker/clockpicker.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js")
    script(src="http://code.jquery.com/ui/1.10.3/jquery-ui.min.js")
    script.
        function msieversion() {
            var ua = window.navigator.userAgent;
            var msie = ua.indexOf("MSIE ");

            if (msie > 0) {
                alert('로샤 채점 프로그램은 크롬에 최적화되어 있습니다.');
            } else {
                console.log('Good browser');
            }

            return false;
        }
        msieversion()
    script.
        $("#rors1button").on('click', function(){
            $.ajax({
                method: "GET",
                url: "/checkcoin"
            }).done(function(res){
                var { coin1, useCount1 } = res;
                coin1 = Number(coin1);
                useCount1 = Number(useCount1);
                if(useCount1>=coin1){
                    return alert('코인1이 부족합니다.');
                } else {
                    return window.open('/test1', '_blank');
                    //- return location.href = '/test1';
                }    
            })
        })
    script.
        $(".temp1").on('click', function(){
            var ele = $(this);
            var target = ele.attr('target');
            $.ajax({
                method: "GET",
                url: "/checkcoin"
            }).done(function(res){
                var { coin1, useCount1 } = res;
                coin1 = Number(coin1);
                useCount1 = Number(useCount1);
                if(useCount1>=coin1){
                    return alert('코인1이 부족합니다.');
                } else {
                    return window.open(target, '_blank');
                    //- return location.href = '/test1';
                }    
            })
        })
    script.
        $(".temp2").on('click', function(){
            var ele = $(this);
            var target = ele.attr('target');
            $.ajax({
                method: "GET",
                url: "/checkcoin"
            }).done(function(res){
                var { coin2, useCount2 } = res;
                coin2 = Number(coin2);
                useCount2 = Number(useCount2);
                if(useCount2>=coin2){
                    return alert('코인1이 부족합니다.');
                } else {
                    return window.open(target, '_blank');
                    //- return location.href = '/test1';
                }    
            })
        })
    script.
        $("#rors2button").on('click', function(){
            $.ajax({
                method: "GET",
                url: "/checkcoin"
            }).done(function(res){
                var { coin2, useCount2 } = res;
                coin2 = Number(coin2);
                useCount2 = Number(useCount2);
                if(useCount2>=coin2){
                    return alert('코인2가 부족합니다.');
                } else {
                    return window.open('/test2', '_blank');
                    //- return location.href = '/test1';
                }    
            })
            //- var user = !{JSON.stringify(session)};
            //- user = user.user;
            //- var coin2 = user.coin2;
            //- var useCount2 = user.useCount2;

            //- coin2 = Number(coin2);
            //- useCount2 = Number(useCount2);

            //- if(useCount2>=coin2){
            //-     return alert('코인2이 부족합니다.');
            //- } else {
            //-     return window.open('/test2', '_blank');
            //-     //- return location.href = '/test2';
            //- }
        })
    script.
        $(".delete").on('click', function(){
            var id = $(this).attr('data-id');
            console.warn(id);
            $.alert({
                title: '채점 결과 삭제',
                content: '정말 채점 결과를 삭제하시겠습니까?',
                buttons: {
                    삭제: function() {
                        $.ajax({
                            url: "/delete?id=" + id,
                            method: "GET"
                        }).done(function(res){
                            location.reload();
                        })
                    },
                    취소: function() {

                    }
                }
            })
        })
    script.
        $(document).ready(function(){
            $("#startDate" ).datepicker({
                changeMonth: true,
                changeYear: true,
                dateFormat: "yy-mm-dd",
                showMonthAfterYear:true,
                dayNames: ['일요일','월요일', '화요일', '수요일', '목요일', '금요일', '토요일'],
                dayNamesMin: ['일','월', '화', '수', '목', '금', '토'],
                monthNamesShort: ['1','2','3','4','5','6','7','8','9','10','11','12'],
                monthNames: ['1월','2월','3월','4월','5월','6월','7월','8월','9월','10월','11월','12월']    
            });

            $("#endDate" ).datepicker({
                changeMonth: true,
                changeYear: true,
                dateFormat: "yy-mm-dd",
                showMonthAfterYear:true,
                dayNames: ['일요일','월요일', '화요일', '수요일', '목요일', '금요일', '토요일'],
                dayNamesMin: ['일','월', '화', '수', '목', '금', '토'],
                monthNamesShort: ['1','2','3','4','5','6','7','8','9','10','11','12'],
                monthNames: ['1월','2월','3월','4월','5월','6월','7월','8월','9월','10월','11월','12월']    
            });
                
        })

        

block content
    .row
        .col-lg-6.text-center
            img.img-responsive(src="/rorlogo.png")
        .col-lg-3
            .ibox.float-e-margins
                .ibox-title
                    span.label.label-success.pull-right=session.user.coin1
                    h5 RIAS-I (구조요약)
                .ibox-content
                    h2.no-margins=session.user.useCount1 + "/" + session.user.coin1
                    small 사용현황
                    .progress.progress-mini
                        .progress-bar(style='width:'+(Math.ceil(Number(session.user.useCount1)/Number(session.user.coin1))).toString()+"%;")
        .col-lg-3
            .ibox.float-e-margins
                .ibox-title
                    span.label.label-info.pull-right=session.user.coin2
                    h5 RIAS-II (자동해석)
                .ibox-content
                    h2.no-margins=session.user.useCount2 + "/" + session.user.coin2
                    small 사용현황
                    .progress.progress-mini
                        .progress-bar(style='width:'+(Math.ceil(Number(session.user.useCount2)/Number(session.user.coin2))).toString()+"%;")

    .row
        .col-lg-12
            .ibox
                .ibox-content.text-center
                    .row
                        .col-lg-6
                            .row
                                .col-md-12
                                    table.table
                                        thead
                                            tr
                                                th.text-center(colspan="2") 검사실시
                                        tbody
                                            tr
                                                td.text-center
                                                    button#rors1button.btn.btn-w-m.btn-success.btn-block.btn-outline(type="button") 구조요약
                                                td.text-center
                                                    button#rors2button.btn.btn-w-m.btn-primary.btn-block.btn-outline(type="button") 자동해석
                        .col-lg-6
                            br
                            p(style="font-size: 14px;") RIAS&#8482;은 The Rorschach Test의 구조요약과 자동해석을 제공합니다. 구조요약은 자료의 정리만 제공하며, 자동해석은 구조요약을 기본으로 제공하고 가설적 해석을 함께 제공합니다.

    .row
        .col-lg-12
            .ibox.float-e-margins
                .ibox-title
                    h5 검사 결과 목록
                    .ibox-tools
                        a.text-dark(href="/" style="color: black;") 새로고침
                            i.fa.fa-refresh(style="margin-left: 5px;")
                .ibox-content
                    form.row.form-group(method="POST" action="/")
                        .col-lg-offset-2.col-lg-1.text-right.float-right
                            label.col-form-label.float-right.text-right 검사 기간
                        .col-lg-3.form-group
                            .input-daterange.input-group
                                input#startDate.input-sm.form-control(type="text" name="start" value="2019-01-01")
                                span.input-group-addon ~
                                input#endDate.input-sm.form-control(type="text" name="end" value=moment().format('YYYY-MM-DD'))
                        .col-lg-2
                            select.form-control(name="searchfor")
                                option(value="name") 수검자
                                option(value="comName") 검사기관
                                option(value="inspector") 검사자
                        .col-lg-3
                            input.form-control(name="searchtext" type="text" placeholder="검색")
                        .col-lg-1
                            button.btn.btn-primary.btn-block(type="submit") 검색

                    .row
                        .col-md-12
                            table.table.table-striped.table-sm
                                thead
                                    tr
                                        th.text-center(scope="col") 번호
                                        th.text-center(scope="col") 수검자
                                        th.text-center(scope="col") 검사일
                                        th.text-center(scope="col") 채점 방식
                                        th.text-center(scope="col") 검사자
                                        th.text-center(scope="col") 검사기관
                                        th.text-center(scope="col") 결과확인
                                        th.text-center(scope="col") PDF
                                tbody
                                    each data in datas
                                        tr
                                            td.text-center=data.id
                                            td.text-center=data.name
                                            td.text-center=data.testdate
                                            if data.test=="test1"
                                                td.text-center RIAS-I<br/>(구조요약)
                                            else if data.test=="test2"
                                                td.text-center RIAS-II<br/>(자동해석)
                                            td.text-center=data.inspector
                                            td.text-center=data.comName_input
                                            td.text-center
                                                if data.test=="test1"
                                                    if data.scoring
                                                        a.btn.btn-success.btn-xs(href="/finishtest1?id="+data.id target="_blank") 결과 확인
                                                    else
                                                        a.btn.btn-info.btn-xs(href="/scoring1/"+data.id target="_blank") 임시 저장
                                                else if data.test=="test2"
                                                    if data.scoring
                                                        a.btn.btn-success.btn-xs(href="/finishtest2?id="+data.id target="_blank") 결과 확인
                                                    else
                                                        a.btn.btn-info.btn-xs(href="/scoring2/"+data.id target="_blank") 임시 저장
                                            td.text-center
                                                if data.test=="test1"
                                                    if data.scoring
                                                        a.btn.btn-danger.btn-xs(href="/downloadtest1?id="+data.id+"&session_id="+session_id target="_blank") PDF 저장
                                                    else
                                                        button.btn.btn-danger.btn-xs(href="/downloadtest1?id="+data.id+"&session_id="+session_id target="_blank" disabled) PDF 저장
                                                else if data.test=="test2"
                                                    if data.scoring
                                                        a.btn.btn-danger.btn-xs(href="/downloadtest2?id="+data.id+"&session_id="+session_id target="_blank") PDF 저장
                                                    else
                                                        button.btn.btn-danger.btn-xs(href="/downloadtest2?id="+data.id+"&session_id="+session_id target="_blank" disabled) PDF 저장
                                            //- td.text-center
                                                if data.test=="test1"
                                                    if data.scoring
                                                        a.btn.btn-success.btn-xs(href="/finishtest1?id="+data.id target="_blank") 결과 확인
                                                    else
                                                        a.btn.btn-info.btn-xs(href="/scoring1/"+data.id target="_blank") 임시 저장
                                                else if data.test=="test2"
                                                    if data.scoring
                                                        a.btn.btn-success.btn-xs(href="/finishtest2?id="+data.id target="_blank") 결과 확인
                                                    else
                                                        a.btn.btn-info.btn-xs(href="/scoring2/"+data.id target="_blank") 임시 저장
                                            //- td.text-center
                                                if data.test=="test1" && data.scoring
                                                    a.btn.btn-danger.btn-xs(href="/downloadtest1?id="+data.id+"&session_id="+session_id target="_blank") PDF 저장
                                                else if data.test=="test2" && data.scoring
                                                    a.btn.btn-danger.btn-xs(href="/downloadtest2?id="+data.id+"&session_id="+session_id target="_blank") PDF 저장

